<div class='chat-room-form'>
  <h1>Book Save</h1>
  <%=form_with model: @book, local: true do |f|%>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :本のタイトル, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: '本のタイトルを入力して下さい'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :本の解説, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'アウトプットした内容を文章化して下さい'%>
      </div>
    </div>

        <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :評価, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'id評価'%>
      </div>
    </div>

            <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :カテゴリー, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'idジャンル'%>
      </div>
    </div>


        <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :著者, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'かく'%>
      </div>
    </div>

        <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :出版社, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: '任意'%>
      </div>
    </div>

        <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :読んだ場所, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'カフェいえ会社id'%>
      </div>
    </div>

    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>