<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="css/web_font.css">
  <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">

</head>

<body>
<div class="wf-hannari">

<div class='chat-library-form'>
  <h1>書籍登録フォーム</h1>
  <%=form_with model: @library, local: true do |f|%>
  <%= render 'layouts/error_messages', model: f.object %>
    <div class='chat-library-form__field'>
      <div class='chat-library-form__field--left'>
        <label class='chat-library-form__label'>著書名</label>
      </div>
      <div class='chat-library-form__field--right'>
        <%= f.text_field :title, class: 'chat__library_name chat-library-form__input', placeholder: '著書名を入力してください'%>
      </div>
    </div>
    <div class='chat-library-form__field'>
      <div class='chat-library-form__field--left'>
        <label class='chat-library-form__label'>アウトプット</label>
      </div>
      <div class='chat-library-form__field--1'>
        <%= f.text_field :impressions, class: 'chat__library_name chat-library-form__input', placeholder: 'アウトプットをまとめて文章化して下さい'%>
      </div>
    </div>

        <div class='chat-library-form__field'>
      <div class='chat-library-form__field--left'>
        <label class='chat-library-form__label'>カテゴリー</label>
      </div>
      <div class='chat-library-form__field--2'>
        <%= f.text_field :category_id, class: 'chat__library_name chat-library-form__input', placeholder: 'カテゴリーを選択して下さい'%>
      </div>
    </div>

            <div class='chat-library-form__field'>
      <div class='chat-library-form__field--left'>
        <label class='chat-library-form__label'>ランク</label>

      </div>
      <div class='chat-library-form__field--3'>
        <%= f.text_field :lank_id, class: 'chat__library_name chat-library-form__input', placeholder: 'ランクを選択して下さい'%>
      </div>
    </div>

            <div class='chat-library-form__field'>
      <div class='chat-library-form__field--left'>
        <label class='chat-library-form__label'>著者</label>
      </div>
      <div class='chat-library-form__field--4'>
        <%= f.text_field :author, class: 'chat__library_name chat-library-form__input', placeholder: '著者を入力してください'%>
      </div>
    </div>


        <div class='chat-library-form__field'>
      <div class='chat-library-form__field--left'>
        <label class='chat-library-form__label'>出版社</label>
      </div>
      <div class='chat-library-form__field--5'>
        <%= f.text_field :syuppan, class: 'chat__library_name chat-library-form__input', placeholder: '出版社を入力して下さい'%>
      </div>
    </div>

        <div class='chat-library-form__field'>
      <div class='chat-library-form__field--left'>
        <label class='chat-library-form__label'>読んだ場所</label>
      </div>
      <div class='chat-library-form__field--6'>
        <%= f.text_field :read_id, class: 'chat__library_name chat-library-form__input', placeholder: '読んだ場所を選択して下さい'%>
      </div>
    </div>

    <div class='chat-library-form__field'>
      <div class='chat-library-form__field--left'></div>
      <div class='chat-library-form__field--'>
        <%= f.submit :アウトプットする,class: 'chat-library-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
</div>
</body>

