<!DOCTYPE html>
    <head>
      <meta charset="UTF-8">
      <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
    </head>


  <body>
      <div class="wf-hannari">
      <span class="top1">
        <h1>書籍情報ページ</h1>
      </span>
        <table class="detail-table">
      <tbody>
      <tr>
        <th class="title-table">書籍名</th>
        <td class="title1"><%= @library.title %></td>
      </tr>
      <tr>
        <th class="title-table">アウトプット</th>
        <td class="title1"><%=  @library.impressions %></td>
      </tr>
      <tr>
        <th class="title-table">カテゴリー</th>
        <td class="title1"><%= @library.category_id %></td>
      </tr>
      <tr>
        <th class="title-table">ランク</th>
        <td class="title1"><%= @library.lank_id %></td>
      </tr>
      <tr>
        <th class="title-table">著者</th>
          <td class="title1"><%= @library.author %></td>
      </tr>
      <tr>
        <th class="title-table">出版社</th>
        <td class="title1"><%= @library.syuppan%></td>
      </tr>
      <tr>
        <th class="title-table">読んだ場所</th>
        <td class="title1"><%= @library.read_id %></td>
      </tr>
      </tbody>
      </table>
      </div>

    
    <%= link_to "アウトプット画面に戻る", root_path %>
      </div>
  </body>

