  <!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
</head>

<body>
<div class="output">
  <div class="upper-output">
    <div class="output-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= output.user.name %>
    </div>
    <div class="output-date">
      <!-- 投稿した時刻を出力する -->
      <%= l output.created_at %>
    </div>
  </div>
  <div class="lower-output">
    <div class="output-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= output.content %>
    </div>
        <%# <%= image_tag output.image, variant(resize: '500x500'), class: 'output-image' if output.image.attached? %> 
            <%= image_tag output.image, class: 'output-image' if output.image.attached? %>
  </div>
</div>
</body>
