<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= @library.title %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "アウトプットを終了する", library_path(@library), method: :delete %>
    </div>
  </div>
</div>

<div class="outputs">
  <%= render partial: 'output', collection: @outputs %>
</div>

<%= form_with model: [@library, @output], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-output', placeholder: 'type a output' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>